body {
    background-color: #C0FAF2;
    padding: 0 50px;
}

.error_msg {
    font-size: 16px;
    color: red;
    letter-spacing: 1px;
}

.error_msg_comm {
    position: absolute;
    font-size: 16px;
    color: red;
    letter-spacing: 1px;
    margin-left: 400px;
    margin-top: 197px;
}

.success_msg_comm {
    position: absolute;
    font-size: 16px;
    color: green;
    letter-spacing: 1px;
    margin-left: 400px;
    margin-top: 197px;
}

.success_msg {
    font-size: 16px;
    color: green;
    letter-spacing: 1px;
}

.container{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.send_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border: 2px;
    border-radius: 20px;
    height: 350px;
}

.form_send_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.title_send_message {
    font-size: 20px;
    color: #000;
    letter-spacing: 1px;
    font-weight: bold;
}

.text_send_message{
    width: 85%;
    outline: none;
    border: 2px solid #DCF7F3;
    border-radius: 10px;
    background-color: #DCF7F3;
    font-size: 16px;
    resize: none;
    padding: 20px 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.btn_send_message {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    margin-top: 12px;
    background-color: #DCF7F3;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: 0.2s;
    border: none;
    letter-spacing: 1.5px;
    font-size: 15px;
}

.btn_send_message:hover {
    cursor: pointer;
    background-color: #abece2;
}

.block_messages {
    display: flex;
    flex-direction: column;
}

.main_message{
    border-radius: 20px;  
    box-shadow: 0 0 20px rgba(0,0,0,0.5);  
    margin-top: 10px;
    padding: 0 20px;
    padding-bottom: 20px;
    background-color: #9ECDC7;
    font-size: 20px;
    color: #000;
}

.title_block_messages {    
    border-bottom: 1px solid #fff;
    letter-spacing: 1.5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.main_message_text{
    padding: 10px;
    background-color: #DCF7F3;
    color: black;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    resize: none;
    border: none;
}

.change_likes {
    display: flex;
    align-items: center;
}

.change_likes:before  {
    width: 500px;
    height: 1px;
    background-color: #fff;
    content: '';
    position: absolute;
    margin-top: 55px;
}

.output{
    font-size: 17px;
    margin-right: 10px;
    color: #000;
    margin-left: 20px;
}

.output_likes {
    font-size: 17px;
    margin-right: 10px;
    color: #000;
    margin-left: 20px;
}


#btn_like {
    padding: 9px 30px;
    margin: 20px 0;
    transition: 0.2s;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #b5ded9;
    letter-spacing: 1.5px;
}

#btn_like:hover {
    cursor: pointer;
    background: #d6ebe9;
}

#btn_like.active {
    background-color: #5CF98E;
    box-shadow: none;
}


.add_comment {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.btn_add_comment {
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    transition: 0.2s;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #b5ded9;
    letter-spacing: 1.5px;
}

.btn_add_comment:hover {
    cursor: pointer;
    background: #d6ebe9;
}


.text_add_comment {
    height: 60px;
    width: 400px;
    resize: none;
    outline: none;
    border: 2px solid #DCF7F3;
    border-radius: 10px;
    background-color: #DCF7F3;
    font-size: 16px;
    resize: none;
    padding: 20px 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.btn_show_comments {
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 0.2s;
    border: none;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #d6ebe9;
    letter-spacing: 1.5px;
}

.btn_show_comments:hover {
    cursor: pointer;
    background: #b5ded9;
}

.comment{
    padding: 0 10px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  
    width: 500px;
}

.comment_title {
    color: #000;
    font-size: 18px;
    opacity: 80%;
    border-bottom: 1px solid #000;
    width: 60px;
}

.comment_text {
    resize: none;
    border: none;
    font-size: 14px;
    width: 500px;
}